<h2>CHETAN BHAGAT NARRATES ONE INDIAN GIRL FROM A WOMAN’S POV</h2>
<p>One Indian GirlPLOT: 4/5
CHARACTERS: 3.5/5
WRITING STYLE: 4/5
CLIMAX: 4/5
ENTERTAINMENT QUOTIENT: 4.5/5</p>

<p>Why it is that Indians enjoy a love-hate relationship with Chetan Bhagat? And very frankly I don’t see the point why
Chetan Bhagat is always trolled. He writes well and there must be some reason why his books always hit the bestseller
charts despite the many criticisms thrown his way. What his critics often forget is the fact that Chetan is the only guy
who popularised Indian fiction amongst Indians. In fact, “One Indian Girl” has been credited with breaking the pre-order
sales record on Amazon.in ever since the site first launched in 2013. So why is it that when I post a Facebook post
declaring that I am excited to read his new novel, the majority of the responses I get are “Haha”? Well, I’ll never get
it, I guess!

Moving to the book then, “One Indian Girl” is a story of a girl called Radhika Mehta who is a hot-shot banker working in
the prestigious Investment Bank, Goldman Sachs. Radhika, who once was as nerdy as one can be, is now arranged to get
married to Brijesh Gulati and has just arrived for her destination wedding in Goa. But what Radhika does not know is the
fact that marrying Brijesh will not be as easy as she had thought. Things happen and everything goes haywire (I am
refraining from disclosing more for the sake of spoilers), but will Radhika be able to manoeuvre her way out of this
mess? Read the book today to know more and discover the fun-filled journey that Radhika will love to take you on.

“One Indian Girl”, to me, felt like a chick-lit though it can also be placed in the general fiction category by many.
The best part of the book is the fact that Radhika’s journey is as funny and entertaining as a wedding can be. Chetan
has done a commendable job of writing in a girl’s voice. The story is told from Radhika’s point and it is really hard to
believe that a man could have written so realistically about a woman and her feelings (I read that he interviewed a lot
of women for this). Though the book is said to be on feminism, in the end, it adheres to the norms of a general chick
lit. So, for me, it didn’t come out as a strongly feminist book. There are a few feminist things here and there, but
mostly in the form of rants.

The plot is really interesting. Though there are many elements, they all connect beautifully in the end. The characters
are also fun. I am sure every girl would love to read about Radhika and her misadventures in the Loveland. I also liked
the characters of Debu and Neel but the character of Brijesh though failed to impress. The narration switches rapidly
from the present to the past to the present and that adds to the pace of the book. The book in its entirety of 272 pages
did not appear dull even at a single point. The best part of the book, though, was its climax – it was completely
unpredictable and managed to completely surprise me.

I hence recommend “One Indian Girl” to one and all. It is a pleasurable read. My rating for the book is four and a half
out of five stars and that says it all.</p>