<div class="container-fluid">
    <form [formGroup]="bookList" (submit)="submitData()">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="">Book Title</label>
                    <input type="text" class="form-control" formControlName="bookName">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="">Book Author</label>
                    <input type="text" class="form-control" formControlName="AuthorName">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="">Image URL</label>
                    <input type="text" class="form-control" formControlName="image">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label for="">Description</label>
                <textarea name="" id="" cols="30" rows="10" class="form-control"
                    formControlName="Description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>