<div class="row">
    <div class="col-lg-12">
       <a class="btn btn-primary" routerLink="../../dashboard/createblog1">Add Blog</a>
    </div>
  </div>
  <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>
            <th scope="col">image</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let blog of blogList;let i = index;">
            <th scope="row">{{i + 1}}</th>
            <td>{{blog.bookName}}</td>
            <td>{{blog.AuthorName}}</td>
            <td>{{blog.Description}}</td>
            <td><div><img class="card-img-top" [src]="blog.image" alt=""></div></td>
            <td>
                <a routerLink="../../dashboard/editblog/{{blog.id}}" class="btn btn-primary btn-sm">Edit</a>
                <button (click)="deleteBlog(blog.id)" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  